@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html {
    font-size: 62.5%;
}

body {
    font-size: 2.0rem;
    margin: 0px;
    text-align: center;
    color: #333;
    font-family: "Open Sans", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

header {
    text-align: right;
    padding: 16px 20px;
    height: 32px;
    margin: 0px;
    border-bottom: solid 1px #ccc;
}

header .cp_icon {
    width: 32px;
}

a {
    color: #2cb696;
}

@media (max-width: 670px) {
    /* スマホ */
    main {
        margin: 0 auto;
        width: 100%;
    }
    h1 {
        font-size: 2.5rem;
    }
    .cp_explain {
        text-align: left;
        display: inline-block;
        margin: 30px 0px;
        font-size: 1.6rem;
    }
}

@media (max-width: 1100px) and (min-width: 671px) {
    /* タブレット */
    main {
        margin: 0 auto;
        width: 671px;
    }
    h1 {
        font-size: 3.5rem;
    }
    .cp_explain {
        text-align: left;
        display: inline-block;
        margin: 30px 0px;
    }
}

@media (min-width: 1101px) {
    /* パソコン */
    main {
        margin: 0 auto;
        width: 671px;
    }
    h1 {
        font-size: 3.5rem;
    }
    .cp_explain {
        text-align: left;
        display: inline-block;
        margin: 30px 0px;
    }
}

.cp_contents {
    margin: 20px;
}


/* ボタン */

.cp_button {
    -webkit-appearance: none;
    margin: 10px 0px;
    color: #fff;
    background-color: #2cb696;
    border-radius: 100vh;
    border: 0px;
    padding: 2.0rem 4.0rem;
    font-size: 2.0rem;
    font-family: "Open Sans", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    outline: none;
}

.cp_button:active {
    background-color: #7bcebb;
    outline: none;
}